header{
    background-color: rgba(78,160,255,255);
    height: 200px;
    /* ho provato ad inserire l'immagine nel mio pc in questo modo */
    background-image: url(../img/pattern.png);
    position: relative;  
}
.booleaners-logo{
    width: 250px;
    position: absolute;
    bottom: 0;
}
p{
    margin: 10px;
}

.text-gray{
    color: gray;
}
.text-white{
    color: white;
}
.text-aqua{
    color: rgba(91,191,235,255);
}
.font-style-italic{
    font-style: italic;
}


.background-aqua{
    background-color: rgba(32,169,229,255);
}
.background-lightblue{
    background-color: rgba(177,229,242,255);
}

table{
    width: 100%;
}
td{
    height: 40px;
}

.background-yellow{
    background-color: yellow;
}


.footer-advise{
    position: relative;
}

.footer-advise >h4{
    margin: 3px;
    position: absolute;
    top: 0;
}