body{
    font-family: 'Roboto', sans-serif;
}

/* sezione header */
header{
    background-color: rgba(78,160,255,255);
    height: 150px;
    /* ho provato ad inserire l'immagine nel mio pc in questo modo */
    background-image: url(../img/pattern.png);
    position: relative;  
}
.booleaners-logo{
    width: 250px;
    position: absolute;
    bottom: 0;
}
.titolo> h1{
    font-size: 1,5em;
}


p{
    margin: 10px;
}
.autore-foto{
    font-style: italic;
    font-size: 10px;
}
.text-gray{
    color: #7e7e7e;
}
.text-white{
    color: white;
}
.text-aqua{
    color: rgba(91,191,235,255);
}
.font-style-italic{
    font-style: italic;
}
.font-weight-700{
    font-weight: 700;
}

.background-aqua{
    background-color: rgba(32,169,229,255);
}
.background-lightblue{
    background-color: rgba(177,229,242,255);
}
/* tabella senza bordi!!! */
table{
    width: 100%;
    border-spacing: 0px;
}
td{
    height: 40px;
}

.background-yellow{
    background-color: yellow;
}


.footer-advise{
    position: relative;
}

.footer-advise >h4{
    margin: 3px;
    position: absolute;
    top: 0;
    font-size: 1.5em;
}